body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    
}

.personal-info{
    border-color: #892be252;
    border-radius: 6px;
}


legend{
    color: #892be27a;
    font-size: 17px;
    padding: 2px 20px;
}

.container{
    max-width: 750px;
    min-width: 350px;
    padding: 0px 0; 
    margin: 100px auto;
    background-color: #222;
    border-radius: 10px;
    box-shadow: #222 0px 0px 50px 0px ;
    box-sizing: border-box;       
}


h2{
    text-align: center;
    color: white;   
}


form{
    padding: 30px; 
    border-radius: 30px;
    color: white;
    box-sizing: border-box;  
}


.input{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
    border-left: solid blueviolet 1px;
    border-bottom: solid blueviolet 1px;
    border-radius: 3px;
    padding: 6px;
    color: #fff;
    background-color: #222;
}


label{
    color: white;
    font-size: 1.em
}


.button{
    width: 100px;
    height: 30px;
    margin: 20px auto 0;
    background-color: rgba(137, 43, 226, 0.507);
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    color: white;
    display: block;  
}

.checkbox{
    margin-top: 20px; 
}

